<!DOCTYPE html>
<html>
<head>
    <title>Geolocation</title>
</head>
<body>
    <a href="#" onclick="getLocation()">Obtener Latitud y Longitud</a>
    <p id="demo"></p>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                document.getElementById("demo").innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            let lat = position.coords.latitude.toFixed(5);
            let lon = position.coords.longitude.toFixed(5);
            
            document.getElementById("demo").innerHTML = `Latitude: ${lat}<br>Longitude: ${lon}`;
            
            // Enviar datos al servidor
            fetch('/location', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    latitude: parseFloat(lat),
                    longitude: parseFloat(lon)
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
